<div class="table-responsive" >
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Friend</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @profiles.each do |profile| %>
        <tr>
          <td><%=image_tag profile.avatar.url(:thumb) ,{id: profile.id , class: "img-circle img-responsive img-thumbnail" , width: "100" , height: "100" , alt: "Profile"}%>
          <td><%= link_to highlight(profile.firstname+" "+profile.lastname+" ("+profile.user.email+")" ,profile.firstname+" "+profile.lastname,:highlighter => '<strong>\1</strong>') , profile  %> </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%=link_to raw('<span class="glyphicon glyphicon-plus-sign"></span>'), friendships_path(:friend_id => profile.user) , method: :post%>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @profiles, renderer: BootstrapPagination::Rails %>