<div class="btn-group btn-group-lg pull-right">
  <% unless @iscreate  %>
      <%=link_to raw('<i class="fa fa-user"></i> Friend Request'), friendships_path(:friend_id => @profile.user,profile_id: @profile),remote: true , method: :post , class: 'btn btn-primary'%>
  <% else %>
      <%=link_to raw('<i class="fa fa-user"></i> Remove'), @friendship, method: :delete, data: { confirm: 'Are you sure?' },remote: true,  class: 'btn btn-primary'%>
  <% end %>

  <a  data-toggle="modal" data-target="#pm" class="btn btn-info">
    <i class="fa fa-comment-o"></i>
  </a>
</div>